form {
    display: flex;
    flex-flow: column;
}

label {
    text-transform: capitalize;
}

#verse-range-forms {
    display: flex;
    flex-flow: row;
}

.verse-form {
    display: flex;
    flex-flow: row;
}