asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
colorama==0.4.6
defusedxml==0.7.1
dj-rest-auth==7.2.0
Django==6.1
django-allauth==65.19.1
django-rest-framework==0.1.0
djangorestframework==3.18.0
djangorestframework_simplejwt==5.5.1
httpie==3.2.4
idna==3.19
markdown-it-py==4.2.0
mdurl==0.1.2
multidict==6.7.1
Pygments==2.21.0
PyJWT==2.13.0
PySocks==1.7.1
python-dotenv==1.2.3
requests==2.34.2
requests-toolbelt==1.0.0
rich==15.0.0
setuptools==84.0.0
sqlparse==0.6.0
tzdata==2026.3
urllib3==2.7.0
