{% extends "base.html" %}
{% load static %}
{% block extra_title %} | Selections{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'selections/style.css' %}">
{% endblock %}{% block content %}

<form action="/selections/" method="post">
    <fieldset id="selection-information">
        <legend>Details about Bible selection</legend>
        <label>Selection label: <input type="text" name="label"></label>
        <label>Voice to read in: <select id="voices" name="voice">
                <!-- Check the browser's speech recognition and add the voices here -->
            </select></label>
        <label>Times to repeat: <input type="number" min=1 max=100 value=3 name="repeat"></label>
        <label>Version: <select id="version" name="version">
                <option value="kjv">King James Version</option>
            </select></label>
    </fieldset>

    <fieldset id="verse-range-forms">
        <legend>Add verse ranges for selection form</legend>

        <!-- Add start verse form and end verse form  -->
    </fieldset>

    <fieldset id="verse-ranges">
        <!-- will be created from a class -->
        <div class="verse-range-spec">
            <p class="verse-range-text">
                <span class="start-verse">
                    <input type="number" name="start" hidden>
                </span>
                <span class="end-verse">
                    <input type="number" name="end" hidden>
                </span>
            </p>
            <button type="button" class="remove-verse-range">-</button>

        </div>

    </fieldset>


</form>
<script src="{% static 'selections/form.js' %}" type="module"></script>
{% endblock %}