{% extends "base.html" %}
{% load static %}
{% block extra_title %} | Selections{% endblock %}
{% block styles %}
<link rel="stylesheet" href="{% static 'selections/style.css' %}">
{% endblock %}{% block content %}

<form action="/selections/" method="post">
    {% csrf_token %}
    <fieldset id="selection-information">
        <legend>Details about Bible selection</legend>
        <label>Selection label: <input type="text" name="label"></label>
        <label>Voice to read in: <select id="voices" name="voice">
                <!-- Check the browser's speech recognition and add the voices here -->
            </select>
        </label>
        <label>Times to repeat: <input type="number" min=1 max=100 value=3 name="repeat"></label>
        <label>Version: <select id="version" name="version">
                <option value="kjv" selected>King James Version</option>
            </select>
        </label>
    </fieldset>

    <fieldset id="verse-range-forms">
        <legend>Add verse ranges for selection form</legend>
        <p class="error"></p>

        <!-- Add start verse form and end verse form  -->
    </fieldset>

    <fieldset id="verse-ranges">
        <!-- will be created from a class -->
    </fieldset>
    <fieldset>
        <input type="submit" value="Create Selection">
    </fieldset>


</form>
<section>
    <h3>List of selections created</h3>
    <ul>
        {% for selection in selections %}
        <li><a href="{{ selection.id }}">{{ selection.label }} |
                {{ selection.verserange_set.first.start }} ...
                {{selection.verserange_set.last.start }}</a></li>
        {% endfor %}
    </ul>

</section>
<script src="{% static 'selections/form.js' %}" type="module"></script>
{% endblock %}