{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://DanielOnGitHub17.github.io/funcs.js"></script>
    <title>
        Bible Hearing
        {% block extra_title %}{% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    {% block styles %}
    {% endblock %}
</head>

<body>
    {% block content %}
    Hear the bible read aloud repeatedly<br>
    <a href="/selections/">Selections</a>
    {% endblock %}
</body>

</html>