<!-- 
Maybe have a UI component that you can edit a verse range by dragging on the edge as if you
it's a window that you're reducing the size of.
-->
{% extends "base.html" %}
{% load static %}
{% block extra_title %} | Selection{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'selection/style.css' %}">
{% endblock %}
{% block content %}
<form action="" id="edit-selection-details" method="post">
        <label for="label">Selection label: <input type="text" name="label" id="label" value="{{ selection.label }}"
                        placeholder="{{ selection.label }}"></label>
        <label for="repeat">Repeat <input type="number" name="repeat" id="repeat" value="{{ selection.repeat }}"
                        placeholder="{{ selection.label }}">
                times</label>
        <button id="restart">Restart</button>
        <button id="play-pause">Play</button>
        <button id="stop">Stop</button>
</form>
<h2>{{ selection.label }}</h2>
<article id="verse-ranges"></article>
{{ ranges|json_script:"verse-ranges-obj" }}
{{ selection|json_script:"selection"}}
<script type="module" src="{% static 'selection/event.js' %}"></script>
{% endblock %}